/* ============================= global ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(179, 62%, 43%);
  --secondary-color: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --dark-gray: hsl(218, 22%, 67%);

  font-size: 62.5%; /* 10px = 1rem */
}

body {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: 'Karla', sans-serif;

  background: var(--light-gray);
}

.main-container {
  width: 28.1rem;
}

h2 {
  font-size: 1.6rem;

  margin-bottom: 1.5rem;
}

p {
  font-size: 1.2rem;

  margin-bottom: 0.5rem;
}

/* ============================= cards ============================= */

.card-1 {
  background: hsl(0, 0%, 100%);

  padding: 2.3rem;

  border-radius: 0.5rem 0.5rem 0 0;
}

.card-1 h2 {
  color: var(--primary-color);

  font-size: 1.7rem;

  margin-bottom: 2.2rem;
}

.card-1 h3 {
  color: var(--secondary-color);

  font-size: 1.3rem;

  margin-bottom: 2rem;
}

.card-1 p {
  color: var(--dark-gray);

  line-height: 1.8;
}

.card-2 {
  background: var(--primary-color);

  padding: 2.3rem;
}

.card-2 h2,
.card-2 .price h1,
.card-2 p,
.card-2 a {
  color: hsl(0, 0%, 100%);
}

.card-2 .price {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 0.8rem;
}

.card-2 .price h1 {
  font-size: 2.8rem;

  margin-right: 1.2rem;
}

.card-2 .price span {
  color: hsla(0, 0%, 100%, 0.6);

  font-size: 1.4rem;
  font-weight: 400;
}

.card-2 p {
  font-size: 1.4rem;

  margin-bottom: 2.5rem;
}

.card-2 .btn {
  text-decoration: none;
  font-size: 1.4rem;

  background: var(--secondary-color);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 23.5rem;
  padding: 1.2rem;

  border-radius: 0.5rem;

  transition: all 200ms;
}

.card-2 .btn:hover {
  transform: scale(1.1);
}

.card-3 {
  background: hsla(179, 62%, 43%, 0.8);

  padding: 2.3rem;

  border-radius: 0 0 0.5rem 0.5rem;
}

.card-3 h2 {
  color: hsl(0, 0%, 100%);
}

.card-3 p {
  color: hsla(0, 0%, 100%, 0.6);

  line-height: 1.5;

  margin: 0;
}

/* ======================== footer ==================================== */

.attribution {
  color: var(--dark-gray);
  font-size: 1.1rem;

  margin-top: 8rem;
}
.attribution a {
  color: var(--primary-color);

  text-decoration: none;
}

/* ======================== responsive ==================================== */

@media (min-width: 1024px) {
  .main-container {
    width: 60rem;
  }
  .main-content {
    display: grid;
    grid-template-areas:
      'top top'
      'left right';
    grid-template-columns: 1fr 1fr;
  }

  .card-1 {
    grid-area: top;

    padding: 3.8rem;
  }

  .card-1 h2 {
    font-size: 2.2rem;
  }

  .card-1 h3 {
    font-size: 1.7rem;

    margin-bottom: 1.2rem;
  }

  .card-1 p {
    font-size: 1.5rem;
  }

  .card-2 {
    grid-area: left;

    padding: 3.8rem;

    border-radius: 0 0 0 0.5rem;
  }

  .card-3 {
    grid-area: right;

    padding: 3.8rem;

    border-radius: 0 0 0.5rem 0;
  }
}

/* ======================== animations ==================================== */

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-13 16:31:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-13 16:33:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
